BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignOperands: true
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SpacesInAngles: false
Standard: c++14
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
ColumnLimit: 125
AlignTrailingComments: true